@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

@font-face {
    font-family: Roslindale Cyrillic Display Condensed;
    src: url('../fonts/RoslindaleCyrillicDisplayCondensed-Regular.ttf');
    font-weight: 400;
}

$font-onest: "Onest", sans-serif;
$font-roslindale-cyrillic-display-condensed: 'Roslindale Cyrillic Display Condensed', sans-serif;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent !important;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}


img {
    max-width: 100%;
}

span, label {
    display: inline-block;
}

html {
    scroll-behavior: smooth;
}

input, textarea {
    outline: none;
    border: 0;
    background: transparent;
}

button {
    border: none;
    cursor: pointer;
    background: transparent;
    outline: 0;
    font-family: $font-onest;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: -2%;

}

address {
    font-style: normal;
}

.wrapper {
    width: 100%;
    overflow: hidden;
    min-height: 100svh;
}

ul, ol, dl {
    list-style: none;
    padding: 0;
    margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

body {
    font-family: $font-onest;
    font-weight: 400;
    color: #0F0F0F;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: -2%;
}

.main_container {
    max-width: 1782px;
    margin: 0 auto;
}

@media (max-width: 1966px) {
    .main_container {
        max-width: calc(100% - 84px);
    }
}

@media (max-width: 768px) {
    .main_container {
        max-width: calc(100% - 58px);
    }
}

@media (max-width: 576px) {
    .main_container {
        max-width: calc(100% - 34px);
    }
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }

    &_head {
        padding: 19px 0 21px;
        border-bottom: 1px solid rgba(15, 15, 15, 0.2);
        margin-bottom: 120px;
        
        .main_container {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__btn {
            display: flex;
            align-items: center;
            gap: 16px;

            span {
                opacity: 0.6;
            }
        }
    }

    &_title {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 48px;

        h2 {
            font-family: $font-roslindale-cyrillic-display-condensed;
            font-size: 72px;
            line-height: 110%;
            font-weight: 400;
            color: #40311E;
            margin-bottom: 36px;
        }

        p {
            color: rgba(15, 15, 15, 0.6);
            max-width: 440px;
        }

        .swp_navigation {
            font-size: 72px;
            line-height: 110%;
            color: rgba(15, 15, 15, 0.2);
            width: auto;
            font-family: $font-roslindale-cyrillic-display-condensed;
            font-weight: 400;
        }
    }

    &_form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 32px;
        border: 1px solid rgba(15, 15, 15, 0.2);
        border-radius: 90px;
        padding: 24px 31px;
        margin-bottom: 48px;

        select {
            width: 100%;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            outline: none;
            border: none;
            font-size: 18px;
            line-height: 130%;
            letter-spacing: -2%;
            color: rgba(15, 15, 15, 0.6);
            cursor: pointer;
            background-color: #fff;
            background-image: url('../images/arrow-down.svg');
            background-position: calc(100% - 24px) center;
            background-repeat: no-repeat;

            &:not(:last-child) {
                border-right: 1px solid rgba(15, 15, 15, 0.2);
            }
        }

        input {
            width: 100%;
            padding: 12px 0;
            font-size: 18px;
            line-height: 130%;
            letter-spacing: -2%;

            &:not(:last-child) {
                border-right: 1px solid rgba(15, 15, 15, 0.2);
            }
        }
    }

    textarea {
        width: 614px;
        border: 1px solid rgba(15, 15, 15, 0.2);
        border-radius: 90px;
        resize: none;
        padding: 36px 32px;
        font-size: 18px;
        line-height: 130%;
        letter-spacing: -2%;
        height: 95px;
        margin: -12px 0 374px;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &_card {
        display: flex;
        align-items: flex-start;
        gap: 18px;
        margin-bottom: 48px;

        &__item {
            width: 100%;
        }

        .main_img {
            width: 100%;
            height: 360px;
            object-fit: cover;
            border-radius: 16px;
            margin-bottom: 26px;
        }

        label {
            display: flex;
            align-items: center;
            gap: 14px;
            cursor: pointer;
            user-select: none;
            padding-left: 2px;
            
            input {
                display: none;
            }

            .icon {
                width: 20px;
                height: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid rgba(15, 15, 15, 0.8);
                border-radius: 4px;
                color: transparent;
                font-size: 16px;
                padding-top: 2px;
            }
            
            input:checked ~ .icon {
                color: rgba(15, 15, 15, 0.8);
            }
        }
    }

    &_foot {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 76px;

        .btn {
            &_left {
                display: flex;
                align-items: center;
                gap: 4px;
            }

            &_right {
                display: flex;
                align-items: center;
                gap: 4px;
                padding: 14px 45.5px;
                color: #fff;
                background: #007B96;
                border-radius: 90px;
            }
        }
    }

    &__open {
        background: #007B96;
        color: #fff;
        height: 52px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 14px 25px;
        border-radius: 50px;
        margin-top: 50px;
    }

    @keyframes modalActive {
        from {
            transform: translateY(100%);
        }
        to {
            transform: translateY(0);
        }
    }

    &.active {
        display: block;
        animation: modalActive .3s linear 1;
    }

    @keyframes modalEndActive {
        from {
            transform: translateY(0);
        }
        to {
            transform: translateY(100%);
        }
    }

    &.end-active {
        display: block;
        animation: modalEndActive .3s linear 1;
        transform: translateY(100%);
    }
}

@media (max-width: 1300px) {
    body, button {
        font-size: 14px;
    }

    .modal {
        &_head {
            padding: 16px 0;
            margin-bottom: 48px;

            &__logo {
                img {
                    height: 32px;
                }
            }
    
            &__btn {
                gap: 8px;
            }
        }
    
        &_title {
            margin-bottom: 32px;
    
            h2 {
                font-size: 46px;
                margin-bottom: 28px;
            }
    
            p {
                max-width: 360px;
            }
    
            .swp_navigation {
                font-size: 46px;
            }
        }
    
        &_form {
            gap: 20px;
            padding: 16px 20px;
            margin-bottom: 32px;
    
            select {
                font-size: 14px;
                background-position: calc(100% - 16px) center;
                padding: 11px 0;
            }
    
            input {
                padding: 11px 0;
                font-size: 14px;
            }
        }
    
        textarea {
            width: 402px;
            padding: 28px 40px;
            font-size: 14px;
            height: 74px;
            margin: -8px 0 226px;
        }
    
        &_card {
            gap: 12px;
            margin-bottom: 32px;
    
            .main_img {
                height: 226px;
                border-radius: 12px;
                margin-bottom: 20px;
            }
    
            label {
                gap: 12px;
                padding-left: 6px;
    
                .icon {
                    width: 16px;
                    height: 16px;
                }
            }
        }
    
        &_foot {
            padding-bottom: 37px;
    
            .btn {
                &_left {
                    display: flex;
                    align-items: center;
                    gap: 4px;
                }
    
                &_right {
                    gap: 4px;
                    padding: 13px 45.5px;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .modal {
        &_head {
            margin-bottom: 100px;
        }
    
        &_title {
            h2 {
                font-size: 40px;
            }
    
            .swp_navigation {
                font-size: 40px;
            }
        }
    
        &_form {
            gap: 24px;
            padding: 0;
            border: 0;
            flex-direction: column;
            
            select {
                padding: 0 0 16px 0;
                font-size: 14px;
                background-position: calc(100%) center;
                border-bottom: 1px solid rgba(15, 15, 15, 0.2);

                &:not(:last-child) {
                    border-right: 0;
                }
            }
    
            input {
                padding: 0 0 16px 0;
                border-bottom: 1px solid rgba(15, 15, 15, 0.2);

                &:not(:last-child) {
                    border-right: 0;
                }
            }
        }
    
        textarea {
            width: 100%;
            font-size: 14px;
            height: 34px;
            margin: 0 0 50px;
            padding: 0 0 16px 0;
            border: 0;
            border-radius: 0;
            border-bottom: 1px solid rgba(15, 15, 15, 0.2);
        }

        .swiper-slide {
            &:not(.swiper-slide-active) {
                height: 0;
                overflow: hidden;
            }
        }
    
        &_card {
            gap: 24px 10px;
            margin-bottom: 32px;
            flex-wrap: wrap;
    
            &__item {
                width: calc(50% - 5px);
            }

            .main_img {
                height: 210px;
                border-radius: 10px;
            }
        }
    
        &_foot {
            padding-bottom: 100px;

            .btn {
                &_right {
                    padding: 13px 48px;

                    img {
                        display: none;
                    }
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .modal {
        &_head {
            padding: 15px 0;
            margin-bottom: 56px;

            &__logo {
                img {
                    height: 26px;
                }
            }
        }
    
        &_title {
            flex-direction: column-reverse;
            gap: 24px;
    
            h2 {
                font-size: 30px;
                margin-bottom: 20px;
            }
    
            p {
                max-width: 100%;
            }
    
            .swp_navigation {
                font-size: 30px;
            }
        }
    
        &_form {
            gap: 24px;
            margin-bottom: 32px;
        }
    
        textarea {
            height: 36px;
            margin: -8px 0 32px;
        }
    
        &_card {
            gap: 28px;
            margin-bottom: 32px;

            &__item {
                width: 100%;
            }
    
            .main_img {
                height: 200px;
                border-radius: 10px;
                margin-bottom: 16px;
            }
    
            label {
                padding-left: 6px;
            }
        }
    
        &_foot {
            padding-bottom: 37px;
    
            .btn {
                &_left {
                    display: flex;
                    align-items: center;
                    gap: 4px;
                }
    
                &_right {
                    gap: 4px;
                    padding: 13px 25px;
                }
            }
        }

        .swiper-slide {
            &:not(.swiper-slide-active) {
                height: 0;
                overflow: hidden;
            }

            &:nth-child(1) {
                .btn {
                    &_left {
                        display: none;
                    }
    
                    &_right {
                        width: 100%;
                        justify-content: center;
                    }
                }
            }
        }
    }
}