@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

@font-face {
    font-family: Roslindale Cyrillic Display Condensed;
    src: url('../fonts/RoslindaleCyrillicDisplayCondensed-Regular.ttf');
    font-weight: 400;
}

$font-onest: "Onest", sans-serif;
$font-roslindale-cyrillic-display-condensed: 'Roslindale Cyrillic Display Condensed', sans-serif;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent !important;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}


img {
    max-width: 100%;
}

span, label {
    display: inline-block;
}

html {
    scroll-behavior: smooth;
}

input, textarea {
    outline: none;
    border: 0;
    background: transparent;
}

button {
    border: none;
    cursor: pointer;
    background: transparent;
    outline: 0;
    font-family: $font-onest;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: -2%;

}

address {
    font-style: normal;
}

.wrapper {
    width: 100%;
    overflow: hidden;
    min-height: 100svh;
}

ul, ol, dl {
    list-style: none;
    padding: 0;
    margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

body {
    font-family: $font-onest;
    font-weight: 400;
    color: #0F0F0F;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: -2%;
}

.main_container {
    max-width: 1782px;
    margin: 0 auto;
}

@media (max-width: 1822px) {
    .main_container {
        max-width: calc(100% - 40px);
    }
}


.btn {
    &_primary {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 52px;
        background: #007B96;
        color: #fff;
        border-radius: 50px;
    }

    &_light {
        border: 1px solid rgba(15, 15, 15, 0.2);
        border-radius: 50px;
        width: 100%;
        height: 46px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgba(15, 15, 15, 0.2);
    }
} 

.tirp_form {
    border: 1px solid rgba(15, 15, 15, 0.2);
    border-radius: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    padding: 24px 31px;

    &__select {
        &_1 {
            width: 100%;
            position: relative;

            .select {
                &_head {
                    position: relative;
                    padding-left: 12px;
                    border-right: 1px solid rgba(15, 15, 15, 0.2);

                    input {
                        width: 100%;
                        height: 47px;
                        font-size: 18px;
                    }

                    button {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        padding-right: 25px;

                        &.active {
                            svg {
                                transform: rotateZ(180deg);
                            }
                        }
                    }
                }

                &_body {
                    position: absolute;
                    bottom: 0;
                    left: -18px;
                    width: calc(100% + 18px);
                    transform: translateY(100%);
                    background: #fff;
                    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
                    border-radius: 12px;
                    padding: 28px 24px;
                    display: none;

                    ul {
                        max-height: 218px;
                        overflow-y: scroll;
                        display: flex;
                        flex-direction: column;
                        gap: 16px;

                        &::-webkit-scrollbar {
                            width: 3px;
                        }

                        &::-webkit-scrollbar-thumb {
                            border-radius: 3px;
                            background: #0F0F0F;
                            cursor: pointer;
                        }
                    }

                    li {
                        cursor: pointer;
                        user-select: none;
                        color: rgba(15, 15, 15, 0.6);
                        transition: .2s ease all;

                        &.active, &:hover {
                            color: #0F0F0F;
                        }
                    }

                    &.active {
                        display: block;
                    }
                }
            }
        }

        &_2 {
            width: 100%;
            position: relative;

            .select {
                &_head {
                    position: relative;
                    border-right: 1px solid rgba(15, 15, 15, 0.2);
    
                    input {
                        width: 100%;
                        height: 47px;
                        font-size: 18px;
                        color: #0F0F0F;
                    }
    
                    button {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        padding-right: 25.6px;
                    }
                }

                &_body {
                    position: absolute;
                    bottom: 0;
                    left: -31px;
                    width: calc(100% + 31px);
                    transform: translateY(100%);
                    background: #fff;
                    border-radius: 16px;
                    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
                    padding: 28px 24px;
                    display: none;

                    .btns {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: 18px;

                        a {
                            width: calc(50% - 9px);
                        }
                    }

                    .btn_primary {
                        height: 46px;
                    }
                
                    .price-input {
                        display: flex;
                        margin: 32px 0 28px;
                        gap: 18px;
    
                        .field {
                            display: flex;
                            flex-direction: column;
                            gap: 8px;
                            width: calc(50% - 9px);
                        }

                        span {
                            font-size: 14px;
                            line-height: 100%;
                            color: rgba(15, 15, 15, 0.4);
                        }

                        input {
                            width: 100%;
                            outline: none;
                            font-size: 18px;
                            border-bottom: 1px solid rgba(153, 153, 153, 0.2);
                            padding-bottom: 8px;
                            -moz-appearance: textfield;
                            color: #0F0F0F;
                        }
                    }

                    input[type="number"]::-webkit-outer-spin-button,
                    input[type="number"]::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                    }

                    .price-input .separator {
                        width: 130px;
                        display: flex;
                        font-size: 19px;
                        align-items: center;
                        justify-content: center;
                    }

                    .slider {
                        height: 2px;
                        position: relative;
                        background: rgba(153, 153, 153, 0.2);
                        border-radius: 5px;
                        margin-top: 12px;
                    }

                    .slider .progress {
                        height: 100%;
                        left: 25%;
                        right: 25%;
                        position: absolute;
                        border-radius: 5px;
                        background: #0F0F0F;
                    }
                    .range-input {
                        position: relative;
                    }

                    .range-input input {
                        position: absolute;
                        width: 100%;
                        height: 5px;
                        top: -5px;
                        background: none;
                        pointer-events: none;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                    }

                    input[type="range"]::-webkit-slider-thumb {
                        height: 24px;
                        width: 24px;
                        border-radius: 50%;
                        background: url('../images/select-icon.svg') center/cover no-repeat;
                        pointer-events: auto;
                        -webkit-appearance: none;
                        box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
                        cursor: pointer;
                    }

                    input[type="range"]::-moz-range-thumb {
                        height: 24px;
                        width: 24px;
                        border: none;
                        border-radius: 50%;
                        background: url('../images/select-icon.svg') center/cover no-repeat;
                        pointer-events: auto;
                        -moz-appearance: none;
                        box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
                        cursor: pointer;
                    }

                    &.active {
                        display: block;
                    }
                }
            } 
        }
    }
}

.request_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.75);
    }

    &__close {
        position: absolute;
        top: 43px;
        right: 43px;
    }

    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
        border-radius: 20px;
        padding: 110px 72px;
        width: 726px;
    }

    &__open1, &__open2 {
        width: 300px;
    }

    h2 {
        font-family: $font-roslindale-cyrillic-display-condensed;
        font-size: 40px;
        line-height: 120%;
        text-align: center;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 16px;
    }

    p {
        color: #6E6E6E;
        text-align: center;
        margin-bottom: 20px;
    }

    .inputs {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-bottom: 48px;

        input, textarea {
            padding: 24px 0;
            color: #0F0F0F;
            font-size: 18px;
            line-height: 130%;
            border-bottom: 1px solid rgba(15, 15, 15, 0.2);
        }
    }

    &.active {
        display: block;
    }
}