@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");
@font-face {
  font-family: Roslindale Cyrillic Display Condensed;
  src: url("../fonts/RoslindaleCyrillicDisplayCondensed-Regular.ttf");
  font-weight: 400;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent !important;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

img {
  max-width: 100%;
}

span, label {
  display: inline-block;
}

html {
  scroll-behavior: smooth;
}

input, textarea {
  outline: none;
  border: 0;
  background: transparent;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
  outline: 0;
  font-family: "Onest", sans-serif;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: -2%;
}

address {
  font-style: normal;
}

.wrapper {
  width: 100%;
  overflow: hidden;
  min-height: 100svh;
}

ul, ol, dl {
  list-style: none;
  padding: 0;
  margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Onest", sans-serif;
  font-weight: 400;
  color: #0F0F0F;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: -2%;
}
@media screen and (max-width: 1300px) {
  body {
    font-size: 14px;
  }
}

.main_container {
  max-width: 1782px;
  margin: 0 auto;
}

@media (max-width: 1822px) {
  .main_container {
    max-width: calc(100% - 40px);
  }
}
.btn_primary {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 52px;
  background: #007B96;
  color: #fff;
  border-radius: 50px;
}
@media screen and (max-width: 1300px) {
  .btn_primary {
    font-size: 14px;
    height: 44px;
  }
}
.btn_light {
  border: 1px solid rgba(15, 15, 15, 0.2);
  border-radius: 50px;
  width: 100%;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(15, 15, 15, 0.2);
}
@media screen and (max-width: 1300px) {
  .btn_light {
    font-size: 14px;
  }
}

.tirp_form {
  border: 1px solid rgba(15, 15, 15, 0.2);
  border-radius: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  padding: 24px 31px;
}
@media screen and (max-width: 1300px) {
  .tirp_form {
    gap: 20px;
    padding: 16px 18px 16px 20px;
  }
}
@media screen and (max-width: 992px) {
  .tirp_form {
    flex-direction: column;
    border-radius: 10px;
    padding: 40px 28px;
    gap: 0px;
  }
}
@media screen and (max-width: 576px) {
  .tirp_form {
    padding: 32px 24px;
  }
}
.tirp_form__select_1 {
  width: 100%;
  position: relative;
}
@media screen and (max-width: 992px) {
  .tirp_form__select_1 {
    margin-bottom: 24px;
  }
}
.tirp_form__select_1 .select_head {
  position: relative;
  padding-left: 12px;
  border-right: 1px solid rgba(15, 15, 15, 0.2);
}
@media screen and (max-width: 992px) {
  .tirp_form__select_1 .select_head {
    padding-left: 0;
    border: 0;
    border-bottom: 1px solid rgba(15, 15, 15, 0.2);
  }
}
.tirp_form__select_1 .select_head input {
  width: 100%;
  height: 47px;
  font-size: 18px;
}
@media screen and (max-width: 1300px) {
  .tirp_form__select_1 .select_head input {
    font-size: 14px;
  }
}
@media screen and (max-width: 992px) {
  .tirp_form__select_1 .select_head input {
    height: 36px;
    padding-bottom: 18px;
  }
}
.tirp_form__select_1 .select_head button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 25px;
}
@media screen and (max-width: 1300px) {
  .tirp_form__select_1 .select_head button {
    padding-right: 23px;
  }
}
@media screen and (max-width: 992px) {
  .tirp_form__select_1 .select_head button {
    padding-right: 5px;
    padding-bottom: 18px;
  }
}
.tirp_form__select_1 .select_head button.active svg {
  transform: rotateZ(180deg);
}
.tirp_form__select_1 .select_body {
  position: absolute;
  bottom: 0;
  left: -18px;
  width: calc(100% + 18px);
  transform: translateY(100%);
  background: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  padding: 28px 24px;
  display: none;
}
@media screen and (max-width: 1300px) {
  .tirp_form__select_1 .select_body {
    padding: 20px;
    left: -8px;
    width: calc(100% + 8px);
  }
}
@media screen and (max-width: 992px) {
  .tirp_form__select_1 .select_body {
    width: calc(100% + 56px);
    left: -28px;
    bottom: 2px;
    border-radius: 0 0 12px 12px;
    padding: 20px 28px;
  }
}
@media screen and (max-width: 576px) {
  .tirp_form__select_1 .select_body {
    width: calc(100% + 48px);
    left: -24px;
  }
}
.tirp_form__select_1 .select_body ul {
  max-height: 218px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media screen and (max-width: 1300px) {
  .tirp_form__select_1 .select_body ul {
    height: 168px;
    gap: 12px;
  }
}
.tirp_form__select_1 .select_body ul::-webkit-scrollbar {
  width: 3px;
}
.tirp_form__select_1 .select_body ul::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #0F0F0F;
  cursor: pointer;
}
.tirp_form__select_1 .select_body li {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: rgba(15, 15, 15, 0.6);
  transition: 0.2s ease all;
}
.tirp_form__select_1 .select_body li.active, .tirp_form__select_1 .select_body li:hover {
  color: #0F0F0F;
}
.tirp_form__select_1 .select_body.active {
  display: block;
  z-index: 2;
}
.tirp_form__select_2 {
  width: 100%;
  position: relative;
}
@media screen and (max-width: 992px) {
  .tirp_form__select_2 {
    margin-bottom: 32px;
  }
}
.tirp_form__select_2 .select_head {
  position: relative;
  border-right: 1px solid rgba(15, 15, 15, 0.2);
}
@media screen and (max-width: 992px) {
  .tirp_form__select_2 .select_head {
    border: 0;
    border-bottom: 1px solid rgba(15, 15, 15, 0.2);
  }
}
.tirp_form__select_2 .select_head input {
  width: 100%;
  height: 47px;
  font-size: 18px;
  color: #0F0F0F;
}
@media screen and (max-width: 1300px) {
  .tirp_form__select_2 .select_head input {
    font-size: 14px;
  }
}
@media screen and (max-width: 992px) {
  .tirp_form__select_2 .select_head input {
    padding-bottom: 16px;
    height: 36px;
  }
}
.tirp_form__select_2 .select_head button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 25.6px;
}
@media screen and (max-width: 1300px) {
  .tirp_form__select_2 .select_head button {
    padding-right: 23px;
  }
}
@media screen and (max-width: 992px) {
  .tirp_form__select_2 .select_head button {
    padding-right: 5px;
    padding-bottom: 16px;
  }
}
.tirp_form__select_2 .select_body {
  position: absolute;
  bottom: 0;
  left: -31px;
  width: calc(100% + 31px);
  transform: translateY(100%);
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
  padding: 28px 24px;
  display: none;
}
@media screen and (max-width: 1300px) {
  .tirp_form__select_2 .select_body {
    padding: 20px;
    border-radius: 12px;
    left: -18px;
    width: calc(100% + 18px);
  }
}
@media screen and (max-width: 992px) {
  .tirp_form__select_2 .select_body {
    width: calc(100% + 56px);
    left: -28px;
    border-radius: 0 0 12px 12px;
    padding: 12px 28px;
    bottom: 2px;
  }
}
@media screen and (max-width: 576px) {
  .tirp_form__select_2 .select_body {
    width: calc(100% + 48px);
    left: -24px;
    padding: 20px 24px;
  }
}
.tirp_form__select_2 .select_body .btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 18px;
}
@media screen and (max-width: 1300px) {
  .tirp_form__select_2 .select_body .btns {
    gap: 12px;
  }
}
.tirp_form__select_2 .select_body .btns a {
  width: calc(50% - 9px);
  height: 46px;
}
@media screen and (max-width: 1300px) {
  .tirp_form__select_2 .select_body .btns a {
    font-size: 12px;
    height: 37px;
  }
}
.tirp_form__select_2 .select_body .price-input {
  display: flex;
  margin: 32px 0 28px;
  gap: 18px;
}
@media screen and (max-width: 1300px) {
  .tirp_form__select_2 .select_body .price-input {
    gap: 12px;
  }
}
.tirp_form__select_2 .select_body .price-input .field {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: calc(50% - 9px);
}
@media screen and (max-width: 1300px) {
  .tirp_form__select_2 .select_body .price-input .field {
    width: calc(50% - 6px);
  }
}
.tirp_form__select_2 .select_body .price-input span {
  font-size: 14px;
  line-height: 100%;
  color: rgba(15, 15, 15, 0.4);
}
@media screen and (max-width: 1300px) {
  .tirp_form__select_2 .select_body .price-input span {
    font-size: 12px;
  }
}
.tirp_form__select_2 .select_body .price-input input {
  width: 100%;
  outline: none;
  font-size: 18px;
  border-bottom: 1px solid rgba(153, 153, 153, 0.2);
  padding-bottom: 8px;
  -moz-appearance: textfield;
  color: #0F0F0F;
}
@media screen and (max-width: 1300px) {
  .tirp_form__select_2 .select_body .price-input input {
    font-size: 14px;
  }
}
.tirp_form__select_2 .select_body input[type=number]::-webkit-outer-spin-button,
.tirp_form__select_2 .select_body input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.tirp_form__select_2 .select_body .price-input .separator {
  width: 130px;
  display: flex;
  font-size: 19px;
  align-items: center;
  justify-content: center;
}
.tirp_form__select_2 .select_body .slider {
  height: 2px;
  position: relative;
  background: rgba(153, 153, 153, 0.2);
  border-radius: 5px;
  margin-top: 12px;
}
.tirp_form__select_2 .select_body .slider .progress {
  height: 100%;
  left: 25%;
  right: 25%;
  position: absolute;
  border-radius: 5px;
  background: #0F0F0F;
}
.tirp_form__select_2 .select_body .range-input {
  position: relative;
}
.tirp_form__select_2 .select_body .range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.tirp_form__select_2 .select_body input[type=range]::-webkit-slider-thumb {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: url("../images/select-icon.svg") center/cover no-repeat;
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.tirp_form__select_2 .select_body input[type=range]::-moz-range-thumb {
  height: 24px;
  width: 24px;
  border: none;
  border-radius: 50%;
  background: url("../images/select-icon.svg") center/cover no-repeat;
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.tirp_form__select_2 .select_body.active {
  display: block;
}

.request_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.request_modal__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
}
.request_modal__close {
  position: absolute;
  top: 43px;
  right: 43px;
}
@media screen and (max-width: 1300px) {
  .request_modal__close {
    top: 23px;
    right: 23px;
  }
}
@media screen and (max-width: 1300px) {
  .request_modal__close svg {
    width: 19px;
  }
}
.request_modal__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 20px;
  padding: 110px 72px;
  width: 726px;
}
@media screen and (max-width: 1300px) {
  .request_modal__content {
    width: 460px;
    padding: 80px 48px 56px;
    border-radius: 16px;
  }
}
@media screen and (max-width: 576px) {
  .request_modal__content {
    padding: 64px 24px 33px;
    width: 342px;
    border-radius: 12px;
  }
}
.request_modal__open1, .request_modal__open2 {
  width: 300px;
}
.request_modal h2 {
  font-family: "Roslindale Cyrillic Display Condensed", sans-serif;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 16px;
}
@media screen and (max-width: 1300px) {
  .request_modal h2 {
    font-size: 28px;
    margin-bottom: 12px;
  }
}
@media screen and (max-width: 992px) {
  .request_modal h2 {
    font-size: 24px;
  }
}
.request_modal p {
  color: #6E6E6E;
  text-align: center;
  margin-bottom: 20px;
}
@media screen and (max-width: 1300px) {
  .request_modal p {
    margin-bottom: 12px;
  }
}
@media screen and (max-width: 576px) {
  .request_modal p {
    margin-bottom: 8px;
  }
}
.request_modal .inputs {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 48px;
}
@media screen and (max-width: 1300px) {
  .request_modal .inputs {
    gap: 8px;
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 576px) {
  .request_modal .inputs {
    margin-bottom: 32px;
  }
}
.request_modal .inputs input, .request_modal .inputs textarea {
  padding: 24px 0;
  color: #0F0F0F;
  font-size: 18px;
  line-height: 130%;
  border-bottom: 1px solid rgba(15, 15, 15, 0.2);
}
@media screen and (max-width: 1300px) {
  .request_modal .inputs input, .request_modal .inputs textarea {
    font-size: 14px;
    padding: 24px 0 16px;
  }
}
.request_modal.active {
  display: block;
}/*# sourceMappingURL=style.css.map */